.rf-search-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rf-search-input {
  width: 100%;
  padding: 12px 14px;
  background: #151515;
  border: 1px solid #2b2b2b;
  color: #fff;
  outline: none;
  font-size: 14px;
  font-family: inherit;
  border-radius: 8px;
}
.rf-search-input:focus{
  border-color: #621eff;
}

.rf-search-placeholder {
  background: #151515;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #222;
  color: #bbb;
}

@media (max-width: 768px) {
  .rf-search-section {
    padding: 15px 12px;
  }
}
