/* ================= PAGE ================= */

.rf-users-page {
  width: 100%;
  padding: 12px
}

/* ================= HEADER ================= */

.rf-users-header {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 18px;
}

.rf-users-title {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.rf-users-search {
  width: 100%;
  padding: 12px 14px;
  background: #151515;
  border: 1px solid #2b2b2b;
  color: #fff;
  outline: none;
  font-size: 14px;
  font-family: inherit;
  border-radius: 8px;
}

.rf-users-search:focus {
  border-color: #621eff;
}

/* ================= LIST ================= */

.rf-users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}

/* ================= USER TILE ================= */

.rf-user-card {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 12px;

  background: #161616;
  border: 1px solid #262626;

  cursor: pointer;
  transition: .18s;
  border-radius: 8px;
}

.rf-user-card:hover {
  background: #1d1d1d;
  border-color: #353535;
}

/* ================= AVATAR ================= */

.rf-user-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

/* ================= INFO ================= */

.rf-user-info {
  flex: 1;
  min-width: 0;
}

.rf-user-name {
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rf-user-username {
  margin-top: 2px;
  color: #8d8d8d;
  font-size: 13px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ================= ARROW ================= */

.rf-user-arrow {
  color: #666;
  font-size: 18px;
}

/* ================= TABLET ================= */

@media (max-width:900px){

  .rf-users-grid{
    grid-template-columns:1fr;
  }

}

/* ================= MOBILE ================= */

@media (max-width:768px){

  .rf-users-page{
    padding:15px 12px;
  }

  .rf-users-title{
    font-size:20px;
  }

  .rf-users-search{
    padding:10px 12px;
  }

  .rf-user-card{
    padding:10px;
    gap:10px;
  }

  .rf-user-avatar{
    width:42px;
    height:42px;
  }

  .rf-user-name{
    font-size:14px;
  }

  .rf-user-username{
    font-size:12px;
  }

}